@charset "utf-8";

.mt-30{
	margin-top:30px;
	margin-bottom:30px;
}

.btn-modal{
	background:none;
	color:black;
	border:none;
	border-bottom:2px solid black;
	margin:50px 0 0 50px;
	border-radius:0px;
}

.btn-modal:hover, .btn-modal:focus{
	border:1px solid black;
	background:white;
}

.btn-ok, .btn-ok:focus, .btn-ok:hover{
	background:green;
	color:white;
	border:none;
	padding:10px;
	width:100px;
}


.btn-modal1, .btn-modal1:hover, .btn-modal1:focus{
	background:red;
	color:white;
	border:none;
	padding:10px;
	width:100px;
}

.select{
	width:60%;
	padding:10px;
	margin:20px;
}

.text{
	width:60%;
	padding:10px;
	border:1px solid black;
	margin:20px;
}

.text:focus, .text:hover, .select:focus, .select:hover{
	border:1px solid skyblue;
}